# backend
venv/
*.pyc
*.pyo
__pycache__/
*.pyd
local_settings.py
db.sqlite3
media/
staticfiles/
*.db
*.sqlite3
*.log
*.log.*
**/migrations/
**/migrations/__init__.py
**/migrations/*.pyc


# Translations
*.mo
*.pot

# frontend

node_modules/
.pnp
.pnp.js

build/
.idea/

# testing
frontend/coverage

# production
yarn.lock

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache