main{
    min-height: 80vh;
}

body > iframe{
  display: none;
}

h1{
  font-size: 1.8rem;
  padding:1rem 0;
}

h2{
  font-size: 1.4rem;
  padding:0.5rem 0;
}

h3{
    padding:1rem 0;
}

.rating span{
  margin:0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display:block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

footer .footer_content{
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  width: max-content;
  min-width: unset;
  max-width: max-content;
  margin: 10px auto;
  padding: 1rem 2rem;
}
footer .footer_content span{
  margin: 0 3px;
}
footer.rtl .footer_content{
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
}
footer .footer_sides{
  justify-content: flex-end;
}
footer.rtl .footer_sides{
  display: flex;
  flex-direction: row-reverse;
  min-height: 50px;
}
footer.rtl .footer_sides *{
  direction: rtl;
  text-align: right;
}
footer .footer_sides .social_network_pages{
  padding-top: 20px;  
}
footer .footer_sides .social_network_pages .no_social_network_page{
  font-weight: bold;
  color: white;
  width: 100%;
  margin: auto;
  max-width: 280px;
  padding: 10px;
}
footer .footer_sides .social_network_pages .title{
  font-weight: bold;
  color: white;
  width: 100%;
  margin: auto;
  max-width: 280px;
  padding: 10px;
  height: 62px;
}
footer .footer_sides .social_network_pages .card{
  padding: 10px;
  border: 0;
  width: 100%;
  margin: auto;
  max-width: 280px;
  background-color: transparent;
  color: white;
}
footer .footer_sides .social_network_pages .card .card-body{
  padding: 0;
  display: flex;
  padding: 10px;
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}
footer .footer_sides .social_network_pages .card .card-body > span{
  margin: 0 10px;
}
footer .footer_sides .social_network_pages .card span.card-text img{
    width: 20px;
    margin-top: -3px;
}
footer.rtl .footer_sides .social_network_pages{
  
}
footer.rtl .footer_sides .social_network_pages .card{
}
footer.rtl .footer_sides .social_network_pages .card .card-body{
}
footer .footer_sides .newsletter_subscription{
  padding-top: 20px;  
}
footer .footer_sides .newsletter_subscription .title{
  font-weight: bold;
  color: white;
  width: 100%;
  margin: auto;
  max-width: 280px;
  padding: 10px;
  height: 62px;
}
footer .footer_sides .newsletter_subscription .newsletter_form{
  padding: 10px;
  border: 0;
  width: 100%;
  margin: auto;
  max-width: 280px;
  background-color: transparent;
  color: white;
}
footer .footer_sides .newsletter_subscription .newsletter_form form{
}
footer .footer_sides .newsletter_subscription .newsletter_form form .form-group{
}
footer .footer_sides .newsletter_subscription .newsletter_form form button{
  background: #00d5ff;
  color: black;
  border-radius: 10px;
}
header.rtl nav .container{
  flex-direction: row-reverse;
}
header.rtl nav .container .navbar-brand {
  margin-left: 2rem;
  margin-right: unset;
}
header.rtl nav .container .navbar-collapse{
  flex-direction: row-reverse;
}
header.rtl nav .container .navbar-collapse form{
  flex-direction: row-reverse;
}
header.rtl nav .container .navbar-collapse form input{
}
header.rtl nav .container .navbar-collapse .navbar-nav{
  flex-direction: row-reverse;
}
ul.pagination.rtl{
  flex-direction: row-reverse;
}
.cart_screen .list-group .list-group-item .row > div{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart_screen.rtl{
  flex-direction: row-reverse;
}
.cart_screen.rtl h1{
  text-align: right;
}
.cart_screen.rtl .alert{
  text-align: right;
}
.cart_screen.rtl .card .list-group-flush{
  text-align: right;
}
.cart_screen.rtl .list-group .list-group-item .row{
  flex-direction: row-reverse;
}
.custom_form_container.rtl h1{
  text-align: right;
}
.custom_form_container.rtl form > button{
  float: right;
}
.custom_form_container.rtl form .form-group{
  text-align: right;
}
.custom_form_container.rtl form .form-group input{
  direction: rtl;
}
.home_screen.rtl h1{
  text-align: right;
}
.home_screen.rtl .products_list > .row{
  flex-direction: row-reverse;
}
.home_screen.rtl .products_list > .row .card .card-body >*{
  direction: rtl;
  text-align: right;
}
.home_screen .products_list > .row .card .card-img{
  max-width: 100%;
  height: 150px;
}
.home_screen .carousel-item .carousel-caption > h4{
  display: flex;
  justify-content: center;
}
.home_screen.rtl .carousel-item .carousel-caption > h4{
  direction: rtl;
}
.nav.rtl{
  flex-direction: row-reverse;
}
.place_order_screen.rtl > h1{
  text-align: right;
}
.place_order_screen.rtl *{
  direction: rtl;
}
.place_order_screen.rtl .row .list-group .list-group-item{
  text-align: right;
}
.order_screen.rtl > h1{
  text-align: right;
}
.order_screen.rtl *{
  direction: rtl;
}
.order_screen.rtl .row .list-group .list-group-item{
  text-align: right;
}
.user_profile.rtl, .user_profile.rtl *{
  direction: rtl;
}
.user_profile.rtl form .form-group{
  text-align: right;
}
.user_profile.rtl form >button{
  float: right;
}
.user_profile.rtl h2{
  text-align: right;
}
.user_profile.rtl .alert{
  text-align: right;
}
.user_list_screen.rtl h1{
  text-align: right;
}
.user_list_screen table {
  text-align: center;
}
.user_list_screen.rtl *{
  direction: rtl;
}

.order_list_screen.rtl h1{
  text-align: right;
}
.order_list_screen table {
  text-align: center;
}
.order_list_screen.rtl *{
  direction: rtl;
}
.products_list_screen.rtl h1{
  text-align: right;
}
.products_list_screen table {
  text-align: center;
}
.products_list_screen.rtl *{
  direction: rtl;
}
.product_screen img.img-fluid{
  height: 150px;
  max-width: 100%;
}
.product_screen.rtl .card *{
}
.product_screen.rtl .card .row{
  text-align: right;
}
.product_screen.rtl .card .row .col{
  direction: rtl;
}
.product_screen.rtl .reviews_row *{
  text-align: right;
  direction: rtl;
}
.product_screen.rtl .row{
  flex-direction: row-reverse;
  text-align: right;
}
.product_screen.rtl .product_details *{
  text-align: right;
  direction: rtl;
}
.unsubscribe_from_newsletter_screen{
  max-width: 500px;
  margin: auto;
  width: 100%;
}
.unsubscribe_from_newsletter_screen .go_home{
  color: #1a1a1a;
  background-color: #ececec;
  border-color: #e6e6e6;
  border-radius: 10px;
}
.unsubscribe_from_newsletter_screen form button{
  border-radius: 10px;
  background: #f55050;
}
.unsubscribe_from_newsletter_screen .no_service_message{
}
.unsubscribe_from_newsletter_screen .unsubscribed_message{
}
.unsubscribe_from_newsletter_screen.rtl{
  direction: rtl;
  text-align: right;
}
.user_edit_screen.rtl *{
  text-align: right;
}
.user_edit_screen.rtl *{
  direction: rtl;
}
.user_edit_screen.rtl .form-group .form-check{
  padding-right: 1.25rem;
}
.user_edit_screen.rtl .form-group .form-check input{
  margin-right: -1.25rem;
}

.product_edit_screen .image_preview{
  width: 400;
  height: 240px;
  margin: auto;
  text-align: center !important;
  margin-bottom: 40px;
}
.product_edit_screen .image_preview img{
  max-width: 200px;
  max-height: 200px;
  margin: auto;
}
.product_edit_screen .image_preview .actions{
  display: flex;
  width: 400px;
  margin: auto;
  margin-top: 15px;
  justify-content: space-around;
}
.product_edit_screen .image_preview .actions .form-group{
  margin: 0;
}
.product_edit_screen .image_preview .actions .form-group button{
  width: 150px;
  height: 45px;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.product_edit_screen .image_preview .actions .form-group .custom-file{
  width: 150px;
  height: 45px;
  margin: 5px;
  border-radius: 10px;
}
.product_edit_screen .image_preview .actions .form-group .custom-file label{
  text-align: center;
  margin: 0;
  border-radius: 10px;
  background-color: #3fe5de;
  cursor: pointer;
}
.product_edit_screen .image_preview .actions .form-group .custom-file input{
  cursor: pointer;
}
.product_edit_screen .image_preview .actions .form-group .custom-file label::after{
  content: '';
  display: none;
}
.product_edit_screen.rtl *{
  text-align: right;
}
.product_edit_screen.rtl *{
  direction: rtl;
}
.product_edit_screen.rtl .form-group .custom-file .custom-file-label:after{
  left: 0;
  right: unset;
}
.custom_modal .modal-content{
  padding-top: 45px !important;
}
.custom_modal .modal-header{
  align-items: center;
  color: #1fa1cf;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  padding: 5px 0;
  position: absolute;
  margin: auto;
  margin-top: -52px;
  left: 0;
  width: 100%;
}

.custom_modal .modal-header .close-modal{
    background-image: linear-gradient(225deg,#67d3f9,#1fa1cf);
    border-radius: 50%;
    box-shadow: 0 10px 20px 0 #1fa1cf5c;
    color: #fff;
    font-size: 30px;
    height: 30px;
    left: 10px;
    line-height: 30px;
    min-width: unset;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 30px;
}
.custom_modal b{
  font-weight: bold;
  color: black;   
}
.custom_modal.rtl{
  direction: rtl; 
}
.custom_modal.rtl ul li{
  text-align: right; 
}
.custom_modal .modal-header .close-modal.rtl{
  right: 10px;
  left: unset;
}
.custom_modal .modal-header .close-modal .close_ico{
  display: block;
  height: 100%;
  line-height: 24px;
  padding-bottom: 6px;
}
.custom_modal.terms_of_service .modal-dialog{
  border-radius: 15px;
  height: calc(100% - 60px);
  margin-bottom: 0;
  margin-top: 0;
  margin-top: 30px;
  max-width: unset;
  min-width: 500px;
  overflow: hidden;
  width: 50%;
}
.custom_modal.terms_of_service .modal-dialog .modal-content{
  border: 0;
  border-radius: 15px;
  height: 100%;
  padding: 10px 0;
}
.custom_modal.terms_of_service.rtl .modal-dialog .modal-content{
}
.custom_scroll_bar{
  overflow-y: auto;
  scrollbar-color: #1fa1cf #F5F5F5;
  scrollbar-width: thin;
}

.custom_scroll_bar::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius:9px;
}
.custom_scroll_bar::-webkit-scrollbar{
  width: 8px;
  background-color: #F5F5F5;
  border-radius:9px;
}
.custom_scroll_bar::-webkit-scrollbar-thumb{
  border-radius:9px;
  background-color: #1fa1cf;
}



